<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ensaj.ac.ma/kvmod/pidm/lang/PidmLang"
			class = "ma.kvmod.pidm.lang.pidmLang.PidmLangPackage"
			genModel = "model/generated/PidmLang.genmodel" />
	</extension>
</plugin>